<header class="header-web">
  <div class="logo">
    {{ partial "header.html" . }}
  </div>
  <div class="burger"><a href="javascript:void(0);" style="font-size:15px;">&#9776;</a></div>
  {{- with .Site.Menus.shortcuts}}
    <nav class="shortcuts">
        {{- range sort . "Weight"}}
            <li class="" role="">
                <a href="{{.URL}}" {{if eq $.Site.Params.menushortcutsnewtab true}}target="_blank"{{end}} rel="noopener">
                  {{safeHTML .Name}}
                </a>
            </li>
        {{- end}}
    </nav>
  {{- end}}
</header>
<header class="header-print">
  Header
</header>
<article>
  <aside>
    {{- partial "language-selector.html" . }}


    <ul class="menu">
      {{- if not .Site.Params.disableHomeIcon}}
          <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
          <a href="{{"/" | relLangURL}}">
            <i class="fa fa-fw fa-home"></i> {{ $.Site.Params.homeText }}
          </a>
          </li>
      {{- end}}

      {{- partial "menu.html" . }}

    </ul>
    <section>
        {{- partial "menu-footer.html" . }}
    </section>
  </aside>
  <section class="page">

    <div class="nav-select">
      <center>{{ i18n "navigation" }}:
        <select onchange="javascript:location.href = this.value;">
          {{partial "selectnavigation.html" .}}
        </select>
      </center>

      <center>
        <div class="lang-menu">
          {{ $siteLanguages := .Site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
            {{ $translation := .}}
            {{ range $siteLanguages }}
              {{ if eq $translation.Lang .Lang }}
                {{ if not (eq $pageLang .Lang)}}
                  <a href="{{ $translation.URL }}">{{ .LanguageName }}</a>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </center>
    </div>

    {{- if not .Site.Params.disableSearch}}
      <div>
        <div class="searchbox">
          <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
        </div>

        {{ $autocomplete := resources.Get "css/auto-complete.css"}}
        {{ $css := slice $autocomplete | resources.Concat "css/search-bundle.css"  | resources.Minify | resources.Fingerprint  }}

        <link
          rel="stylesheet"
          href="{{ $css.Permalink }}"
          integrity="{{ $css.Data.Integrity }}"
        />

        <script type="text/javascript">
          {{ if .Site.IsMultiLingual }}
              var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
          {{ else }}
              var baseurl = "{{.Site.BaseURL}}";
          {{ end }}
        </script>

        {{ $lunr := resources.Get "js/lunr.min.js"}}
        {{ $autocomplete := resources.Get "js/auto-complete.js"}}
        {{ $search := resources.Get "js/search.js"}}
        {{ $js := slice $lunr $autocomplete $search | resources.Concat "js/search-bundle.js"  | resources.Minify | resources.Fingerprint  }}

        <script
          src="{{ $js.Permalink }}"
          integrity="{{ $js.Data.Integrity }}"
        /></script>

      </div>
    {{- end}}


    {{if not .IsHome}}<h1>{{.Title}}</h1>{{end}}

    {{if and (not .IsHome) (.TableOfContents)}}
    <small>{{ i18n "reading-time" .ReadingTime }}</small>
    <br><br>
    <div class="js-toc"></div>
    <hr>
    {{end}}
