<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="revised" content="{{ now.Format "2006-01-02T15:04:05 MST" }}">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

<title>{{ .Title }} :: {{ .Site.Title }}</title>

<link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />

{{ $fa := resources.Get "css/font-awesome.min.css"}}
{{ $nucleus := resources.Get "css/nucleus.css"}}
{{ $bootstrap := resources.Get "css/bootstrap.min.css"}}
{{ $tocbot := resources.Get "tocbot/tocbot.css"}}
{{ $css := slice $fa $nucleus $bootstrap $tocbot | resources.Concat "css/app.css"  | resources.Minify | resources.Fingerprint  }}

{{ $options := (dict "outputStyle" "compressed" ) }}
{{ $theme := resources.Get "scss/style.scss" | resources.ToCSS $options |  minify | fingerprint }}

<link
  rel="stylesheet"
  href="{{ $css.Permalink }}"
  integrity="{{ $css.Data.Integrity }}"
>
<link
  rel="stylesheet"
  href="{{ $theme.Permalink }}"
  integrity="{{ $theme.Data.Integrity }}"
>

{{ $print := resources.Get "css/print.css"}}
{{ $cssPrint := slice $print | resources.Concat "css/print.css"  | resources.Minify | resources.Fingerprint  }}

<link
  rel="stylesheet"
  href="{{ $cssPrint.Permalink }}"
  integrity="{{ $cssPrint.Data.Integrity }}"
>


{{ $jquery := resources.Get "js/jquery-2.x.min.js"}}
{{ $tocbot := resources.Get "tocbot/tocbot.js"}}
{{ $js := slice $jquery $tocbot | resources.Concat "js/app.js"  | resources.Minify | resources.Fingerprint  }}

<script
  src="{{ $js.Permalink }}"
  integrity="{{ $js.Data.Integrity }}"
/></script>

<script type="text/javascript">
      var baseurl = "{{.Site.BaseURL}}";
</script>

{{ partial "custom-head.html" . }}
