{{- if and .Site.IsMultiLingual (not .Site.Params.DisableLanguageSwitchingButton)}}

<ul class="menu lang-menu">
	{{ $siteLanguages := .Site.Languages}}
	{{ $pageLang := .Page.Lang}}
	{{ range .Page.AllTranslations }}
		{{ $translation := .}}
		{{ range $siteLanguages }}
			{{ if eq $translation.Lang .Lang }}
				{{ if eq $pageLang .Lang}}
					<li class="dd-item"><a href="{{ $translation.URL }}" class="active">{{ .LanguageName }}</a></li>
				{{ else }}
					<li class="dd-item"><a href="{{ $translation.URL }}">{{ .LanguageName }}</a></li>
				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}
</ul>

{{- end }}